.dark-theme {
    background-color: #121212;
    color: #f5f5f5;
    transition: all 0.3s ease;
  }
  
  .light-theme {
    background-color: #ffffff;
    color: #121212;
    transition: all 0.3s ease;
  }
  
  .dark-theme a, .dark-theme .card {
    color: #f5f5f5;
  }
  
  .light-theme a, .light-theme .card {
    color: #121212;
  }
  